<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
</head>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<body>
    <h1>ToDo List</h1>
    <div>New item:
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="text">
            <input type="submit" value="Add">
        </form>
    </div>

    {% if todo_list %}
    <table class="table">
        <tr>
            <th>Text</th>
            <th>Done?</th>
            <th>Change status</th>
            <th></th>
        </tr>
        {% for row in todo_list %}
        <tr>
            <td>
                <form action="{{ url_for('edit', id=row.id) }}" method="POST">
                    <input type="text" value={{row.text}} name="text">
                    <input type="submit" value="Edit">
                </form>
            </td>
            <td>{{row.done}}</td>

            <td>
                <form action="{{ url_for('toggle_done', id=row.id) }}" method="POST">
                    {% if row.done %}
                    <input type="submit" value="Undone">
                    {% else %}
                    <input type="submit" value="Done">
                    {% endif %}
                </form>
            </td>

            <td>
                <form action="{{ url_for('delete', id=row.id) }}" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No items</p>
    {% endif %}
</body>

</html>